/* Hide Netflix modals */
.nf-modal {
  display: none !important;
}

.PlayerControlsNeo__button-control-row {
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}
